{% extends 'core/base.html' %}

{% block title %}Events{% endblock %}

{% block background %}{% load static %}{% static 'core/images/hero_bg_1.jpg' %}{% endblock %}

{% block headers %}
    <h1 class="text-white">Events</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
{% endblock %}

{% block content %}

    <div class="site-section">
    <div class="container">
      <div class="row">
        {% for project in projects %}
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
            <img src="{{ project.image.url }}" alt="Image" class="img-fluid">
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
              {% if project.link %}
                <h2 class="h5 text-black mb-3"><a href="{{project.link}}">{{ project.title }}</a></h2>
              {% endif %}
          </div>
        </div>
        {% endfor %}


      </div>

    </div>

    <div class="container mt-5" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="site-block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
{% endblock %}