{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block background %}{% load static %}{% static 'core/images/hero_bg_1.jpg' %}{% endblock %}

{% block headers %}
    <h1 class="text-white">Contact Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
{% endblock %}

{% block content %}
    <h2>Contact</h2>
    <p>Info to my email</p>
    <ul>
        <li><a href="mailto:hola@hektorprofe.net">Email</a></li>
        <li><a href="https://github.com/hcosta">Github</a></li>
        <li><a href="https://youtube.com">Youtube</a></li>
    </ul>
{% endblock %}